<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-file-upload/dist/angular-file-upload.js"></script>
	<script>
		angular.module('app',['angularFileUpload'])
			.controller('ctrl',function($scope,FileUploader){
				$scope.g = new FileUploader();
				setTimeout(function(){
					console.log($scope.g)
				},4000)
			})
	</script>
</head>
<body ng-controller="ctrl">
	<input type="file" nv-file-select uploader="g" ng-model="c">
	<ul>
		<li ng-repeat="item in g.queue">
			<p>{{item.file.name}}</p>
			<button ng-click="item.upload()">upload</button>
		</li>
	</ul>
	<pre>{{c|json}}</pre>
</body>
</html>