<div class="swalk-head">
    <div class="container-fluid" style="background:url('app/img/logo_black.png') no-repeat 60px center">
        <div class="row">
            <div class="head-left text-center">
                <!--系统管理-->
            </div>
            <div class="head-right text-right">
                <img src="app/img/notice.png" class="notice-img" ng-click="showNotice()"/>
                <a ui-sref="forum.login" ng-click="logout()">退出登录</a>
                <!-- <img src="app/img/headImg.png"/> -->
                <div class="point" ng-if="hotelNotice || travelNotice" ng-click="showNotice()">{{noticeText}}</div>
                <div class="notices" ng-if="showOrHide">
                    <div class="notice" ng-if="hotelNotice"><a ng-click="goHouseOrder()">酒店订单：有新的取消订单</a></div>
                    <div class="notice" ng-if="travelNotice"><a ng-click="goTravelOrder()">度假订单：有新的取消订单</a></div>
                </div>
            </div>
        </div>
    </div>
</div>